.form-e-36 {
    padding: 16px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    background-color: var(--vId-color-token-c);
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #7070705F transparent;
    z-index: 1000;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.form-e-46 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1300px;
    position: relative
}

.form-e-47 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 40px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-43 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px 100px 100px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #ffffff19 #ffffff19 #ffffff19 #ffffff19;
    z-index: 1500;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    min-width: 405px;
    min-height: 60px;
    position: relative
}

.form-e-42 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: 50px;
    width: 50px;
    display: none;
    position: relative
}

.form-e-41 {
    color: #ffffff;
    width: 32px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.form-e-37 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-40 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-39 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-38 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-44 {
    padding: 10px 42px 10px 42px;
    background-color: var(--vId-color-token-a);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border-radius: 100px 100px 100px 100px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 700;
    color: #ffffffff;
    line-height: 28px;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    min-width: 165px;
    min-height: 55px
}

.form-e-45 {
    color: #ffffff;
    width: 32px;
    height: -moz-fit-content;
    height: fit-content;
    display: none;
    position: relative
}

.form-e-1 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    background-color: var(--vId-color-token-c);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.form-e-19 {
    padding: 100px 0px 50px 0px;
    flex-direction: column;
    align-items: center;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1200px;
    position: relative
}

.form-e-2 {
    font-family: var(--vId-font-token-a);
    font-size: 72px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 82px;
    padding: 0px 0px 20px 0px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-3 {
    font-family: var(--vId-font-token-a);
    font-size: 20px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 30px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    opacity: 70%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 750px
}

.form-e-18 {
    padding: 60px 60px 60px 60px;
    flex-direction: column;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #393939 #393939 #393939 #393939;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1000px;
    position: relative
}

.form-e-10 {
    flex-wrap: nowrap;
    -moz-column-gap: 32px;
         column-gap: 32px;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-6 {
    flex-direction: column;
    row-gap: 4px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-4 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-5 {
    padding: 12px 0px 20px 10px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #ffffffb2;
    line-height: 26px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #393939 transparent;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.form-e-9 {
    flex-direction: column;
    row-gap: 4px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-7 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-8 {
    padding: 12px 0px 20px 10px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #ffffffb2;
    line-height: 26px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #393939 transparent;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.form-e-17 {
    -moz-column-gap: 32px;
         column-gap: 32px;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-13 {
    flex-direction: column;
    row-gap: 4px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-11 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-12 {
    padding: 12px 0px 20px 10px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #ffffffb2;
    line-height: 26px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #393939 transparent;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.form-e-16 {
    flex-direction: column;
    row-gap: 4px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-14 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-15 {
    padding: 12px 0px 20px 10px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #ffffffb2;
    line-height: 26px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #393939 transparent;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.form-e-21 {
    -moz-column-gap: 32px;
         column-gap: 32px;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-22 {
    flex-direction: column;
    row-gap: 4px;
    z-index: 150;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex
}

.form-e-23 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-24 {
    padding: 12px 0px 20px 10px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #ffffffb2;
    line-height: 26px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #393939 transparent;
    z-index: 1;
    width: 100%;
    height: 100px;
    display: block;
    position: relative
}

.form-e-20 {
    padding: 10px 42px 10px 42px;
    background-color: var(--vId-color-token-a);
    border-radius: 100px 100px 100px 100px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 600;
    color: #ffffffff;
    line-height: 26px;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.form-e-48 {
    padding: 100px 16px 0px 16px;
    flex-direction: column;
    align-items: center;
    background-color: var(--vId-color-token-c);
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.form-e-68 {
    padding: 0px 0px 60px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    -moz-column-gap: 5px;
         column-gap: 5px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative
}

.form-e-79 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 40px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.form-e-67 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 50px;
         column-gap: 50px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-54 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-53 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-52 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 6px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-49 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-50 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-51 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-60 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-59 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-58 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 6px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-55 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-57 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-56 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-66 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-65 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-64 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 6px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-61 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-63 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-62 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-75 {
    padding: 40px 0px 40px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    border-width: 1px 0px 1px 0px;
    border-style: solid none solid none;
    border-color: #FFFFFF24 transparent #FFFFFF24 transparent;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative
}

.form-e-71 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-70 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 34px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-69 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 70%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-74 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 15px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.form-e-72 {
    padding: 8px 16px 8px 12px;
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    color: #EFEDFD99;
    line-height: 24px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #F3EEFF1A #F3EEFF1A #F3EEFF1A #F3EEFF1A;
    z-index: 1;
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    max-width: 307px
}

.form-e-73 {
    padding: 10px 16px 10px 16px;
    background-color: var(--vId-color-token-a);
    border-radius: 10px 10px 10px 10px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 700;
    color: #ffffffff;
    line-height: 24px;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    min-width: 105px;
    min-height: 44px;
    max-width: 105px
}

.form-e-78 {
    padding: 40px 0px 40px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    border-width: 0px 0px 0px 0px;
    border-style: solid none solid none;
    border-color: #FFFFFF24 transparent #FFFFFF24 transparent;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative
}

.form-e-76 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-80 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.form-e-77 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

* {
    line-height: 1
}

*,
*::before,
*::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

a {
    color: inherit;
    text-decoration: inherit
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.container {
    max-width: 1140px;
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 540px
    }

    body {
        background-color: #000000ff
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 720px
    }

    body {
        background-color: #000000ff
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px
    }

    body {
        background-color: #000000ff
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1
}

body {
    font-size: 0;
    font-family: "Nunito Sans"
}

html {
    font-size: 100%
}

input,
textarea,
select {
    min-height: 20px;
    border: 0;
    font-size: 16px
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0.1rem 0;
    width: 100%
}

.lg-text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    display: inherit;
    height: inherit;
    width: initial;
    flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    -moz-column-gap: inherit;
         column-gap: inherit;
    -o-object-fit: inherit;
       object-fit: inherit
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

video {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

span {
    display: block
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.paragraph span,
.headerOne span,
.headerTwo span,
.headerThree span,
.headerFour span,
.headerFive span,
.headerSix span {
    display: inline
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.paragraph a,
.headerOne a,
.headerTwo a,
.headerThree a,
.headerFour a,
.headerFive a,
.headerSix a {
    color: inherit;
    display: inline
}

p strong,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.paragraph strong,
.headerOne strong,
.headerTwo strong,
.headerThree strong,
.headerFour strong,
.headerFive strong,
.headerSix strong {
    font-weight: 700
}

.cd-slider-v1--slidesWrapper {
    height: 100% !important;
    white-space: nowrap !important;
    position: relative !important;
    display: block !important
}

.cd-slider-v1--slidesWrapper>* {
    white-space: normal
}

.cd-slider-v1--slide {
    display: inline-flex !important;
    vertical-align: top !important
}

.cd-slider-v1--slidesWrapper.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--slide.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--arrowBar {
    z-index: 900
}

.cd-slider-v1--arrowBar>* {
    cursor: pointer
}

.cd-slider-v1--slideTransitionLinear .cd-slider-v1--slide {
    transition: transform 700ms linear 0s !important
}

.cd-slider-v1--slideTransitionEaseIn .cd-slider-v1--slide {
    transition: transform 700ms ease-in 0s !important
}

.cd-slider-v1--slideTransitionEaseOut .cd-slider-v1--slide {
    transition: transform 700ms ease-out 0s !important
}

.cd-slider-v1--slideTransitionEaseInOut .cd-slider-v1--slide {
    transition: transform 700ms ease-in-out 0s !important
}

.cd-slider-v1--slideTransitionEaseOutIn .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1) 0s !important
}

.cd-slider-v1--slideTransitionQuadEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important
}

.cd-slider-v1--slideTransitionCubicEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.32, 0.64, 0.45, 0.93) 0s !important
}

.cd-slider-v1--slideTransitionQuartEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.5, 0.9, 0.5, 0.9) 0s !important
}

.cd-slider-v1--slideTransitionQuintEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s !important
}

.cd-slider-v1--slideTransitionSineEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s !important
}

.cd-slider-v1--slideTransitionExpoEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.7, 0, 0.84, 0) 0s !important
}

.cd-slider-v1--slideTransitionElasticEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBounceEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBackEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important
}

.form-e-37:hover {
    color: var(--vId-color-token-a)
}

.form-e-40:hover {
    color: var(--vId-color-token-a)
}

.form-e-39:hover {
    color: var(--vId-color-token-a)
}

.form-e-38:hover {
    color: var(--vId-color-token-a)
}

.form-e-44:hover {
    background-color: var(--vId-color-token-a);
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box
}

.form-e-5::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-5::placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-8::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-8::placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-12::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-12::placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-15::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-15::placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-24::-moz-placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-24::placeholder {
    font-family: Kumbh Sans;
    color: #393939
}

.form-e-20:hover {
    background-color: var(--vId-color-token-a);
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box
}

.form-e-49:hover {
    color: #ffffffff
}

.form-e-50:hover {
    color: #ffffffff
}

.form-e-51:hover {
    color: #ffffffff
}

.form-e-55:hover {
    color: #ffffffff
}

.form-e-57:hover {
    color: #ffffffff
}

.form-e-56:hover {
    color: #ffffffff
}

.form-e-61:hover {
    color: #ffffffff
}

.form-e-63:hover {
    color: #ffffffff
}

.form-e-62:hover {
    color: #ffffffff
}

.form-e-72::-moz-placeholder {
    color: #EFEDFD99
}

.form-e-72::placeholder {
    color: #EFEDFD99
}

.form-e-72:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.form-e-73:hover {
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 100%);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box
}

@media (max-width:1199px) {
    .form-e-47 {
        color: #ffffffff;
        text-align: left;
        width: 100%
    }

    .form-e-43 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        background-color: #7762F5;
        border-radius: 0px 0px 0px 0px;
        justify-content: flex-start;
        width: 100%;
        display: none;
        position: fixed;
        min-height: 100vh;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px
    }

    .form-e-42 {
        align-items: flex-end;
        width: 100%;
        display: flex
    }

    .form-e-37 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .form-e-40 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .form-e-39 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .form-e-38 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .form-e-44 {
        display: none
    }

    .form-e-45 {
        display: block
    }

    .form-e-48 {
        background-color: #000000ff
    }

    .form-e-68 {
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 50px;
             column-gap: 50px
    }

    .form-e-79 {
        color: #ffffffff;
        text-align: left;
        width: 100%
    }

    .form-e-67 {
        flex-wrap: wrap
    }

    .form-e-75 {
        flex-wrap: wrap
    }

    .form-e-74 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    .form-e-72 {
        text-align: left;
        display: inline-block
    }

    .form-e-73 {
        display: flex;
        max-width: none;
        margin-left: NaNpx;
        margin-top: NaNpx
    }
}

@media (max-width:767px) {
    .form-e-36 {
        position: relative
    }

    .form-e-46 {
        position: relative
    }

    .form-e-47 {
        color: #ffffffff;
        text-align: left;
        position: relative
    }

    .form-e-43 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        background-color: #7762F5;
        justify-content: flex-start;
        border-radius: 0px 0px 0px 0px;
        position: fixed
    }

    .form-e-42 {
        align-items: flex-end;
        position: relative
    }

    .form-e-41 {
        position: relative
    }

    .form-e-37 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .form-e-40 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .form-e-39 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .form-e-38 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .form-e-44 {
        position: relative
    }

    .form-e-45 {
        position: relative
    }

    .form-e-1 {
        position: relative
    }

    .form-e-19 {
        position: relative
    }

    .form-e-2 {
        text-align: center;
        position: relative
    }

    .form-e-3 {
        position: relative
    }

    .form-e-18 {
        padding: 60px 16px 60px 16px;
        position: relative
    }

    .form-e-10 {
        flex-wrap: wrap;
        row-gap: 20px;
        position: relative
    }

    .form-e-6 {
        position: relative
    }

    .form-e-4 {
        position: relative
    }

    .form-e-5 {
        position: relative
    }

    .form-e-9 {
        position: relative
    }

    .form-e-7 {
        position: relative
    }

    .form-e-8 {
        position: relative
    }

    .form-e-17 {
        flex-wrap: wrap;
        row-gap: 20px;
        position: relative
    }

    .form-e-13 {
        position: relative
    }

    .form-e-11 {
        position: relative
    }

    .form-e-12 {
        position: relative
    }

    .form-e-16 {
        position: relative
    }

    .form-e-14 {
        position: relative
    }

    .form-e-15 {
        position: relative
    }

    .form-e-21 {
        flex-wrap: wrap;
        row-gap: 20px;
        position: relative
    }

    .form-e-22 {
        position: relative
    }

    .form-e-23 {
        position: relative
    }

    .form-e-24 {
        position: relative
    }

    .form-e-20 {
        position: relative
    }

    .form-e-48 {
        background-color: #000000ff;
        position: relative
    }

    .form-e-68 {
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 50px;
             column-gap: 50px;
        row-gap: 50px;
        flex-direction: row;
        align-items: center;
        position: relative
    }

    .form-e-79 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .form-e-67 {
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 30px;
             column-gap: 30px;
        row-gap: 50px;
        position: relative
    }

    .form-e-54 {
        align-items: center;
        position: relative
    }

    .form-e-53 {
        position: relative
    }

    .form-e-52 {
        align-items: center;
        position: relative
    }

    .form-e-49 {
        position: relative
    }

    .form-e-50 {
        position: relative
    }

    .form-e-51 {
        position: relative
    }

    .form-e-60 {
        align-items: center;
        position: relative
    }

    .form-e-59 {
        position: relative
    }

    .form-e-58 {
        align-items: center;
        position: relative
    }

    .form-e-55 {
        position: relative
    }

    .form-e-57 {
        position: relative
    }

    .form-e-56 {
        position: relative
    }

    .form-e-66 {
        align-items: center;
        position: relative
    }

    .form-e-65 {
        position: relative
    }

    .form-e-64 {
        align-items: center;
        position: relative
    }

    .form-e-61 {
        position: relative
    }

    .form-e-63 {
        position: relative
    }

    .form-e-62 {
        position: relative
    }

    .form-e-75 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        position: relative
    }

    .form-e-71 {
        align-items: center;
        position: relative
    }

    .form-e-70 {
        position: relative
    }

    .form-e-69 {
        position: relative
    }

    .form-e-74 {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -moz-column-gap: 5px;
             column-gap: 5px;
        row-gap: 15px;
        position: relative
    }

    .form-e-72 {
        position: relative
    }

    .form-e-73 {
        position: relative
    }

    .form-e-78 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        position: relative
    }

    .form-e-76 {
        position: relative
    }

    .form-e-80 {
        position: relative
    }

    .form-e-77 {
        position: relative
    }
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400
}

/* HTMLCode Component Content Resets */
/* Resets for HTMLCode component form-e-41 */
.form-e-41 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.form-e-41 span { display: initial; }
/* Resets for HTMLCode component form-e-45 */
.form-e-45 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.form-e-45 span { display: initial; }
