.termsconditions-e-53 {
    padding: 16px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    background-color: var(--vId-color-token-c);
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #7070705F transparent;
    z-index: 1000;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.termsconditions-e-63 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1300px;
    position: relative
}

.termsconditions-e-64 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 40px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsconditions-e-60 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px 100px 100px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #ffffff19 #ffffff19 #ffffff19 #ffffff19;
    z-index: 1500;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    min-width: 405px;
    min-height: 60px;
    position: relative
}

.termsconditions-e-59 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: 50px;
    width: 50px;
    display: none;
    position: relative
}

.termsconditions-e-58 {
    color: #ffffff;
    width: 32px;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.termsconditions-e-54 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsconditions-e-57 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsconditions-e-56 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsconditions-e-55 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 300;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 15px 15px 15px 15px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsconditions-e-61 {
    padding: 10px 42px 10px 42px;
    background-color: var(--vId-color-token-a);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    border-radius: 100px 100px 100px 100px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 700;
    color: #ffffffff;
    line-height: 28px;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    min-width: 165px;
    min-height: 55px
}

.termsconditions-e-62 {
    color: #ffffff;
    width: 32px;
    height: -moz-fit-content;
    height: fit-content;
    display: none;
    position: relative
}

.termsconditions-e-1 {
    padding: 100px 16px 100px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--vId-color-token-c);
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1980px;
    position: relative
}

.termsconditions-e-2 {
    padding: 10px 0px 10px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: NaNauto;
    max-width: none;
    position: relative;
    display: flex;
    margin-right: auto
}

.termsconditions-e-3 {
    font-family: var(--vId-font-token-a);
    font-size: 56px;
    font-weight: 700;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    text-align: center;
    line-height: 64px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: none;
    margin-bottom: 40px
}

.termsconditions-e-4 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    display: flex;
    max-width: 1000px;
    position: relative
}

.termsconditions-e-5 {
    padding: 30px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-6 {
    font-family: var(--vId-font-token-a);
    font-size: 32px;
    font-weight: 700;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 42px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: none
}

.termsconditions-e-41 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-7 {
    padding: 0px 0px 20px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-8 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-9 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-10 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-11 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-12 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-13 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-14 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-15 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-16 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-17 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-18 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-19 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-20 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-21 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-22 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-26 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-27 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-28 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-29 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-30 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-31 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-32 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-33 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-34 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-35 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-36 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-37 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-38 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-39 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-40 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-23 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsconditions-e-24 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-25 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsconditions-e-65 {
    padding: 100px 16px 0px 16px;
    flex-direction: column;
    align-items: center;
    background-color: var(--vId-color-token-c);
    margin-left: auto;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.termsconditions-e-85 {
    padding: 0px 0px 60px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    -moz-column-gap: 5px;
         column-gap: 5px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative
}

.termsconditions-e-96 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 40px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsconditions-e-84 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 50px;
         column-gap: 50px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-71 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-70 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-69 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 6px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-66 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-67 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-68 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-77 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-76 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-75 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 6px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-72 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-74 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-73 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-83 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-82 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-81 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 6px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-78 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-80 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-79 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-92 {
    padding: 40px 0px 40px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    border-width: 1px 0px 1px 0px;
    border-style: solid none solid none;
    border-color: #FFFFFF24 transparent #FFFFFF24 transparent;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative
}

.termsconditions-e-88 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-87 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 34px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-86 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 70%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-91 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 15px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsconditions-e-89 {
    padding: 8px 16px 8px 12px;
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    color: #EFEDFD99;
    line-height: 24px;
    background-color: #00000000;
    border: 1px solid #cccccc;
    border-radius: 10px 10px 10px 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #F3EEFF1A #F3EEFF1A #F3EEFF1A #F3EEFF1A;
    z-index: 1;
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    max-width: 307px
}

.termsconditions-e-90 {
    padding: 10px 16px 10px 16px;
    background-color: var(--vId-color-token-a);
    border-radius: 10px 10px 10px 10px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 700;
    color: #ffffffff;
    line-height: 24px;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    min-width: 105px;
    min-height: 44px;
    max-width: 105px
}

.termsconditions-e-95 {
    padding: 40px 0px 40px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    border-width: 0px 0px 0px 0px;
    border-style: solid none solid none;
    border-color: #FFFFFF24 transparent #FFFFFF24 transparent;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1100px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative
}

.termsconditions-e-93 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-97 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

.termsconditions-e-94 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 60%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 660px
}

* {
    line-height: 1
}

*,
*::before,
*::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

a {
    color: inherit;
    text-decoration: inherit
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.container {
    max-width: 1140px;
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1
}

body {
    font-size: 0;
    font-family: "Nunito Sans"
}

html {
    font-size: 100%
}

input,
textarea,
select {
    min-height: 20px;
    border: 0;
    font-size: 16px
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0.1rem 0;
    width: 100%
}

.lg-text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    display: inherit;
    height: inherit;
    width: initial;
    flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    -moz-column-gap: inherit;
         column-gap: inherit;
    -o-object-fit: inherit;
       object-fit: inherit
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

video {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

span {
    display: block
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.paragraph span,
.headerOne span,
.headerTwo span,
.headerThree span,
.headerFour span,
.headerFive span,
.headerSix span {
    display: inline
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.paragraph a,
.headerOne a,
.headerTwo a,
.headerThree a,
.headerFour a,
.headerFive a,
.headerSix a {
    color: inherit;
    display: inline
}

p strong,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.paragraph strong,
.headerOne strong,
.headerTwo strong,
.headerThree strong,
.headerFour strong,
.headerFive strong,
.headerSix strong {
    font-weight: 700
}

.cd-slider-v1--slidesWrapper {
    height: 100% !important;
    white-space: nowrap !important;
    position: relative !important;
    display: block !important
}

.cd-slider-v1--slidesWrapper>* {
    white-space: normal
}

.cd-slider-v1--slide {
    display: inline-flex !important;
    vertical-align: top !important
}

.cd-slider-v1--slidesWrapper.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--slide.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--arrowBar {
    z-index: 900
}

.cd-slider-v1--arrowBar>* {
    cursor: pointer
}

.cd-slider-v1--slideTransitionLinear .cd-slider-v1--slide {
    transition: transform 700ms linear 0s !important
}

.cd-slider-v1--slideTransitionEaseIn .cd-slider-v1--slide {
    transition: transform 700ms ease-in 0s !important
}

.cd-slider-v1--slideTransitionEaseOut .cd-slider-v1--slide {
    transition: transform 700ms ease-out 0s !important
}

.cd-slider-v1--slideTransitionEaseInOut .cd-slider-v1--slide {
    transition: transform 700ms ease-in-out 0s !important
}

.cd-slider-v1--slideTransitionEaseOutIn .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1) 0s !important
}

.cd-slider-v1--slideTransitionQuadEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important
}

.cd-slider-v1--slideTransitionCubicEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.32, 0.64, 0.45, 0.93) 0s !important
}

.cd-slider-v1--slideTransitionQuartEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.5, 0.9, 0.5, 0.9) 0s !important
}

.cd-slider-v1--slideTransitionQuintEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s !important
}

.cd-slider-v1--slideTransitionSineEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s !important
}

.cd-slider-v1--slideTransitionExpoEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.7, 0, 0.84, 0) 0s !important
}

.cd-slider-v1--slideTransitionElasticEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBounceEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBackEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important
}

.termsconditions-e-54:hover {
    color: var(--vId-color-token-a)
}

.termsconditions-e-57:hover {
    color: var(--vId-color-token-a)
}

.termsconditions-e-56:hover {
    color: var(--vId-color-token-a)
}

.termsconditions-e-55:hover {
    color: var(--vId-color-token-a)
}

.termsconditions-e-61:hover {
    background-color: var(--vId-color-token-a);
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box
}

.termsconditions-e-66:hover {
    color: #ffffffff
}

.termsconditions-e-67:hover {
    color: #ffffffff
}

.termsconditions-e-68:hover {
    color: #ffffffff
}

.termsconditions-e-72:hover {
    color: #ffffffff
}

.termsconditions-e-74:hover {
    color: #ffffffff
}

.termsconditions-e-73:hover {
    color: #ffffffff
}

.termsconditions-e-78:hover {
    color: #ffffffff
}

.termsconditions-e-80:hover {
    color: #ffffffff
}

.termsconditions-e-79:hover {
    color: #ffffffff
}

.termsconditions-e-89::-moz-placeholder {
    color: #EFEDFD99
}

.termsconditions-e-89::placeholder {
    color: #EFEDFD99
}

.termsconditions-e-89:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.termsconditions-e-90:hover {
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 100%);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box
}

@media (max-width:1199px) {
    .termsconditions-e-64 {
        color: #ffffffff;
        text-align: left;
        width: 100%
    }

    .termsconditions-e-60 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        background-color: #7762F5;
        border-radius: 0px 0px 0px 0px;
        justify-content: flex-start;
        width: 100%;
        display: none;
        position: fixed;
        min-height: 100vh;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px
    }

    .termsconditions-e-59 {
        align-items: flex-end;
        width: 100%;
        display: flex
    }

    .termsconditions-e-54 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .termsconditions-e-57 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .termsconditions-e-56 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .termsconditions-e-55 {
        color: #ffffffff;
        text-align: center;
        width: 100%
    }

    .termsconditions-e-61 {
        display: none
    }

    .termsconditions-e-62 {
        display: block
    }

    .termsconditions-e-2 {
        flex-direction: column;
        max-width: 720px
    }

    .termsconditions-e-3 {
        font-size: 50px;
        line-height: 60px
    }

    .termsconditions-e-5 {
        align-items: center
    }

    .termsconditions-e-6 {
        font-size: 24px;
        text-align: center;
        line-height: 34px
    }

    .termsconditions-e-41 {
        text-align: center
    }

    .termsconditions-e-9 {
        text-align: center
    }

    .termsconditions-e-10 {
        text-align: center
    }

    .termsconditions-e-12 {
        text-align: center
    }

    .termsconditions-e-13 {
        text-align: center
    }

    .termsconditions-e-15 {
        text-align: center
    }

    .termsconditions-e-16 {
        text-align: center
    }

    .termsconditions-e-18 {
        text-align: center
    }

    .termsconditions-e-19 {
        text-align: center
    }

    .termsconditions-e-21 {
        text-align: center
    }

    .termsconditions-e-22 {
        text-align: center
    }

    .termsconditions-e-27 {
        text-align: center
    }

    .termsconditions-e-28 {
        text-align: center
    }

    .termsconditions-e-30 {
        text-align: center
    }

    .termsconditions-e-31 {
        text-align: center
    }

    .termsconditions-e-33 {
        text-align: center
    }

    .termsconditions-e-34 {
        text-align: center
    }

    .termsconditions-e-36 {
        text-align: center
    }

    .termsconditions-e-37 {
        text-align: center
    }

    .termsconditions-e-39 {
        text-align: center
    }

    .termsconditions-e-40 {
        text-align: center
    }

    .termsconditions-e-24 {
        text-align: center
    }

    .termsconditions-e-25 {
        text-align: center
    }

    .termsconditions-e-65 {
        background-color: #000000ff
    }

    .termsconditions-e-85 {
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 50px;
             column-gap: 50px
    }

    .termsconditions-e-96 {
        color: #ffffffff;
        text-align: left;
        width: 100%
    }

    .termsconditions-e-84 {
        flex-wrap: wrap
    }

    .termsconditions-e-92 {
        flex-wrap: wrap
    }

    .termsconditions-e-91 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    .termsconditions-e-89 {
        text-align: left;
        display: inline-block
    }

    .termsconditions-e-90 {
        display: flex;
        max-width: none;
        margin-left: NaNpx;
        margin-top: NaNpx
    }
}

@media (max-width:767px) {
    .termsconditions-e-53 {
        position: relative
    }

    .termsconditions-e-63 {
        position: relative
    }

    .termsconditions-e-64 {
        color: #ffffffff;
        text-align: left;
        position: relative
    }

    .termsconditions-e-60 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        background-color: #7762F5;
        justify-content: flex-start;
        border-radius: 0px 0px 0px 0px;
        position: fixed
    }

    .termsconditions-e-59 {
        align-items: flex-end;
        position: relative
    }

    .termsconditions-e-58 {
        position: relative
    }

    .termsconditions-e-54 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .termsconditions-e-57 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .termsconditions-e-56 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .termsconditions-e-55 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .termsconditions-e-61 {
        position: relative
    }

    .termsconditions-e-62 {
        position: relative
    }

    .termsconditions-e-1 {
        padding: 100px 16px 80px 16px;
        position: relative
    }

    .termsconditions-e-2 {
        flex-direction: column;
        align-items: center;
        max-width: none;
        position: relative
    }

    .termsconditions-e-3 {
        font-size: 35px;
        text-align: center;
        line-height: 45px;
        position: relative
    }

    .termsconditions-e-4 {
        position: relative
    }

    .termsconditions-e-5 {
        padding: 0px 0px 0px 0px;
        align-items: center;
        position: relative
    }

    .termsconditions-e-6 {
        font-size: 24px;
        text-align: center;
        line-height: 34px;
        position: relative
    }

    .termsconditions-e-41 {
        font-size: 16px;
        padding: 0px 0px 10px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-7 {
        padding: 0px 0px 30px 0px;
        position: relative
    }

    .termsconditions-e-8 {
        position: relative
    }

    .termsconditions-e-9 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-10 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-11 {
        position: relative
    }

    .termsconditions-e-12 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-13 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-14 {
        position: relative
    }

    .termsconditions-e-15 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-16 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-17 {
        position: relative
    }

    .termsconditions-e-18 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-19 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-20 {
        position: relative
    }

    .termsconditions-e-21 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-22 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-26 {
        position: relative
    }

    .termsconditions-e-27 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-28 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-29 {
        position: relative
    }

    .termsconditions-e-30 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-31 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-32 {
        position: relative
    }

    .termsconditions-e-33 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-34 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-35 {
        position: relative
    }

    .termsconditions-e-36 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-37 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-38 {
        position: relative
    }

    .termsconditions-e-39 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-40 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-23 {
        position: relative
    }

    .termsconditions-e-24 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-25 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsconditions-e-65 {
        background-color: #000000ff;
        position: relative
    }

    .termsconditions-e-85 {
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 50px;
             column-gap: 50px;
        row-gap: 50px;
        flex-direction: row;
        align-items: center;
        position: relative
    }

    .termsconditions-e-96 {
        color: #ffffffff;
        text-align: center;
        position: relative
    }

    .termsconditions-e-84 {
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 30px;
             column-gap: 30px;
        row-gap: 50px;
        position: relative
    }

    .termsconditions-e-71 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-70 {
        position: relative
    }

    .termsconditions-e-69 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-66 {
        position: relative
    }

    .termsconditions-e-67 {
        position: relative
    }

    .termsconditions-e-68 {
        position: relative
    }

    .termsconditions-e-77 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-76 {
        position: relative
    }

    .termsconditions-e-75 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-72 {
        position: relative
    }

    .termsconditions-e-74 {
        position: relative
    }

    .termsconditions-e-73 {
        position: relative
    }

    .termsconditions-e-83 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-82 {
        position: relative
    }

    .termsconditions-e-81 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-78 {
        position: relative
    }

    .termsconditions-e-80 {
        position: relative
    }

    .termsconditions-e-79 {
        position: relative
    }

    .termsconditions-e-92 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        position: relative
    }

    .termsconditions-e-88 {
        align-items: center;
        position: relative
    }

    .termsconditions-e-87 {
        position: relative
    }

    .termsconditions-e-86 {
        position: relative
    }

    .termsconditions-e-91 {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -moz-column-gap: 5px;
             column-gap: 5px;
        row-gap: 15px;
        position: relative
    }

    .termsconditions-e-89 {
        position: relative
    }

    .termsconditions-e-90 {
        position: relative
    }

    .termsconditions-e-95 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        position: relative
    }

    .termsconditions-e-93 {
        position: relative
    }

    .termsconditions-e-97 {
        position: relative
    }

    .termsconditions-e-94 {
        position: relative
    }
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400
}

/* HTMLCode Component Content Resets */
/* Resets for HTMLCode component termsconditions-e-58 */
.termsconditions-e-58 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.termsconditions-e-58 span { display: initial; }
/* Resets for HTMLCode component termsconditions-e-62 */
.termsconditions-e-62 img { width: initial; height: initial; -o-object-fit: initial; object-fit: initial; border-radius: initial; display: initial; }
.termsconditions-e-62 span { display: initial; }
